.contact-page {
}

.contact-page-toolbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 16px;

  &__back-button {
    margin-right: 8px;
  }

  &__title {
    flex: 1;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buttons {
    margin-left: 16px;

    & > *:not(:last-child) {
      margin-right: 4px;
    }
  }
}
