.home-page {
  &__contacts {
    overflow: hidden;
    height: 500px;
    max-height: 75vh;
    border-radius: 8px;
    box-shadow: 0px 2px 20px rgba(black, 0.1);
  }

  &__loading-container {
    text-align: center;
    font-size: 32px;
  }
}

.home-page-toolbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 16px;

  &__title {
    flex: 1;
    margin: 0px;
  }

  &__buttons {
    margin-left: 16px;
  }
}
