.contact-cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 60px;
  box-sizing: border-box;

  background: white;
  padding: 0px 12px;

  &:hover {
    background: rgb(245, 245, 245);
  }

  &__name {
    flex: 1;
    color: rgb(50, 50, 50);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buttons {
    margin-left: 8px;
  }

  transition: opacity 300ms linear;
  &--is-deleting {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
