.contact-cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 60px;
  box-sizing: border-box;

  background: white;
  padding: 0px 12px;

  &:hover {
    background: rgb(250, 250, 250);
  }

  &__name {
    flex: 1;
    color: rgb(50, 50, 50);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buttons {
    margin-left: 8px;
  }
}
