$profile-size: 128px;

.contact-form {
  position: relative;
  margin-top: $profile-size / 2;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 2px 20px rgba(black, 0.1);

  &__picture-container {
    position: absolute;
    top: 0px;
    left: 50%;
    right: 50%;
    width: $profile-size;
    height: $profile-size;
    transform: translate(-50%, -50%);
  }

  &__form-rows {
    padding-top: $profile-size / 2 + 8px;
    & > * {
      margin-bottom: 16px;
    }
  }
}
