@import "src/styles/common.scss";

.loading-overlay {
  @include absolute-full-size;
  z-index: 500;

  background: rgba(white, 0.5);
  opacity: 0;

  transition: opacity 300ms linear;
  pointer-events: none;
  &--active {
    pointer-events: all;
    opacity: 1;
  }

  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgb(200, 200, 200);
    font-size: 32px;
  }
}
